/*
    CSS Reset by Eric Meyer http://meyerweb.com/eric/tools/css/reset/
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*
    Restore styles. This first section is mostly adapted from
    the impress.js demo: https://github.com/bartaz/impress.js/blob/master/css/impress-demo.css
*/

body {
    font-family: 'Vista Sans OT', 'Cabin Condensed', serif;
    min-height: 740px;
    background: #4C66A4;
}

b, strong { font-weight: bold }
i, em { font-style: italic }

a {
    color: inherit;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.9);

    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

a:hover,
a:active {
    color: #F6B900;
    opacity: 0.6;
}

.step {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-size: 48px;
    line-height: 1;
    color: #FFF;
}


.impress-enabled .step {
    margin: 0;
    opacity: 0.1;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active { opacity: 1 }

/*
    Now for some demo-specific styles.
*/

p {
  font-size: 28px;
  color: #9CAEE2;
  margin-top: 20px;
  line-height: 1.3;
}

.blue-mid {
  color: #5A6EA9;
}

.blue-light {
  color: #CFD6E6;
}

.blue-dark {
  color: #2D438A;
}

.accent-yellow {
  color: #F6B900;
}

.accent-yellow-light {
  color: #F9E794;
}

.table {
  display: table;
}

.table-cell-valign {
  display: table-cell;
  vertical-align: middle;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.center {
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 96px;
  color: #FFF;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  color: #9CAEE2;
  font-weight: bold;
}

/*
    Clearfix: http://www.webtoolkit.info/css-clearfix.html
*/
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

.preload {
  display: none;
}